/packages
/Debug
/x64
/.vs
/external
SMLMLibDLL/obj/
SMLMLibTest/x64/
SMLMLibPythonTest/x64/
SMLMLibUnitTest/x64/
TiffViewer/obj/
*.vcxproj.user
*.swp
*.bin
*.xlsx
/build
/python/simflux/__init__.pyc
/python/simflux/ui/__init__.pyc
/python/simflux/ui/ui-cfg.json
/python/smlmlib/__init__.pyc
/__pycache__/simflux.cpython-37.pyc
/simflux.pyc
/python/bsplines/step_02_fit_spline.asv
/SMLMLib/x64/*
/projects/.idea/*
/cpp/external/*
/cpp/SMLMLibPythonTest/x64/*
/cpp/SMLMLibTest/x64/*
/dotnet/x64/*
/dotnet/LocalizationDemo/bin/*
/dotnet/LocalizationDemo/obj/*
/dotnet/SMLMLib.NET Demo/obj/*
/dotnet/SMLMLib.NET/obj/*
/photonpy/x64/*
*.cpython-37.pyc
